
	
/*---------- star rating ----------*/
/*https://codepen.io/filcp/pen/QvZVOg*/
.star-rating,
.star-rating-vote {
	display: flex;
    align-items: center;
    font-size: 2.2em;
    justify-content: center;
    /*margin: -10px auto 10px auto;*/
}
.star-rating .back-stars {
	display: flex;
    color: #bb5252;
    position: relative;
    text-shadow: 4px 4px 10px #843a3a;
}
.star-rating .front-stars {
	display: flex;
    color: #FFBC0B;
    overflow: hidden;
    position: absolute;
    text-shadow: 2px 2px 5px #d29b09;
    top: 0;
}
#vote_stars_rating_block .star-rating-vote .back-stars {
	display: flex;
    color: #FFCD1C;
    position: relative;
    text-shadow: 4px 4px 10px #843a3a;
}
#vote_stars_rating_block .star-rating-vote .front-stars {
	display: flex;
    overflow: hidden;
    position: absolute;
    text-shadow: 2px 2px 5px #d29b09;
    top: -2px;
}

#guest_stars_vote_button>a {
	color: white;
}
#guest_stars_vote_button,
#logged_stars_vote_button,
#cancel_logged_stars_vote_button {
	margin: 21px auto 0 auto;
	display: block;
}